<span class="title-medium">Adding comic</span>

<app-add-edit-comic-form
  [eventBus]="eventSource"
  (eventBus)="onEvent($event)"
></app-add-edit-comic-form>

<ng-container *appFooterPortal="footer"></ng-container>
<ng-template #footer>
  <div class="footer">
    <div class="actions">
      <button
        mat-button
        class="label-medium"
        color="primary"
        (click)="cancelAddComic()"
        aria-label="Cancel add comic and go to comic list"
      >
        <span>Cancel</span>
      </button>

      <button
        mat-flat-button
        class="add-comic-action label-medium"
        color="primary"
        [disabled]="isSubmitButtonDisabled"
        (click)="addComic()"
        aria-label="Add comic"
      >
        <span>Add comic</span>
      </button>
    </div>
  </div>
</ng-template>
