<app-comic-detail-content
  [comic]="(comic$ | async)!"
  (eventBus)="onEvent($event)"
></app-comic-detail-content>

<ng-template #bottomSheet>
  <mat-nav-list *ngIf="comic$ | async as comic; else noComic">
    <ng-container *ngIf="!comic.readers?.length">
      <a
        [routerLink]="[
          '/home',
          'comics',
          comic?.metadata?.urlSegment,
          'add-readers'
        ]"
        mat-list-item
        (click)="closeBottomSheet()"
      >
        <span>Add readers</span>
      </a>
    </ng-container>

    <ng-container *ngIf="!comic.notes">
      <a
        [routerLink]="[
          '/home',
          'comics',
          comic?.metadata?.urlSegment,
          'add-notes'
        ]"
        mat-list-item
        (click)="closeBottomSheet()"
      >
        <span>Add notes</span>
      </a>
    </ng-container>

    <a
      [routerLink]="['/home', 'comics', comic?.metadata?.urlSegment, 'edit']"
      mat-list-item
      (click)="closeBottomSheet()"
    >
      <span>Edit comic</span>
    </a>

    <a
      *ngIf="comic.readers?.length"
      [routerLink]="[
        '/home',
        'comics',
        comic?.metadata?.urlSegment,
        'readers',
        'edit'
      ]"
      mat-list-item
      (click)="closeBottomSheet()"
    >
      <span>Edit readers</span>
    </a>

    <a
      *ngIf="comic.notes"
      [routerLink]="['/home', 'comics', comic?.metadata?.urlSegment, 'notes', 'edit']"
      mat-list-item
      (click)="closeBottomSheet()"
    >
      <span>Edit notes</span>
    </a>

    <mat-list-item (click)="deleteComic(comic.metadata.id)">
      <span>Delete comic</span>
    </mat-list-item>

    <mat-list-item
      *ngIf="comic.readers?.length"
      (click)="deleteComicReaders(comic)"
    >
      <span>Delete readers</span>
    </mat-list-item>

    <mat-list-item
      *ngIf="comic.notes"
      (click)="deleteComicNotes(comic)"
    >
      <span>Delete notes</span>
    </mat-list-item>
  </mat-nav-list>
  <ng-template #noComic>
    <mat-list-item (click)="closeBottomSheet()">
      <span>Close</span>
    </mat-list-item>
  </ng-template>
</ng-template>
