<ng-container *ngIf="comic.metadata">
  <div class="comic-header-section">
    <div class="media">
      <img src="{{ comic.coverUrl }}" alt="Comic cover" />
    </div>

    <div class="content">
      <div class="header">
        <span class="comic-title title-medium">{{ comic.title }}</span>

        <div class="tags-group">
          <app-tag class="comic-format">{{ comic.format }}</app-tag>
          <app-tag class="comic-status">{{ comic.status }}</app-tag>
        </div>
      </div>
    </div>

    <div class="actions">
      <button mat-icon-button (click)="emitOpenBottomSheetAction(comic)" aria-label="Navigate to comic detail">
        <mat-icon fontSet="material-symbols-rounded">more_vert</mat-icon>
      </button>
    </div>
  </div>

  <div class="comic-chapter-section">
    <div class="content">
      <span class="body-medium"
        >Ch. <span class="body-large">{{ comic.chapter }}</span>
      </span>

      <span class="comic-updated body-small">{{
        comic.metadata.updatedAt!.toDate() | date
      }}</span>
    </div>

    <div class="actions">
      <button
        mat-icon-button
        color="primary"
        aria-label="Increase comic counter by one"
      >
        <mat-icon fontSet="material-symbols-rounded">add</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="comic.readers" class="comic-reader-sites-section">
    <span class="title-small">Reader sites</span>

    <div class="content">
      <mat-list *ngFor="let reader of comic.readers" role="list">
        <a
          mat-list-item
          *ngIf="reader.url; else noUrl"
          [href]="reader.url"
          target="_blank"
          role="listitem"
        >
          <span class="body-medium is-link">{{ reader.name | titlecase }}</span>
        </a>
        <ng-template #noUrl
          ><mat-list-item>
            <span class="body-medium">{{
              reader.name | titlecase
            }}</span></mat-list-item
          ></ng-template
        >
      </mat-list>
    </div>
  </div>

  <div *ngIf="comic.notes" class="comic-notes-section">
    <span class="title-small">Notes</span>

    <div class="content">
      <span class="body-medium">{{comic.notes}}</span>
    </div>
  </div>
</ng-container>
