<form (change)="onValueChanges()">
  <ng-container *ngFor="let cRSForm of comicReadersFormArrayCtrl; index as i">
    <mat-divider *ngIf="i > 0" class="divider"></mat-divider>

    <div class="form" [formGroup]="cRSForm">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="The name of the comic reader"
          formControlName="name"
        />

        <mat-error
          class="body-small"
          *ngIf="cRSForm.controls['name'].errors?.['required']"
          >The name's comic reader is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Link (Optional)</mat-label>
        <input
          matInput
          placeholder="http://link-example"
          formControlName="url"
        />

        <mat-error
          class="body-small"
          *ngIf="cRSForm.controls['url'].errors?.['webUrl']"
          >This is not a valid link.</mat-error
        >
      </mat-form-field>

      <div *ngIf="comicReadersFormArrayCount > 1">
        <button
          mat-button
          class="label-medium"
          color="primary"
          (click)="removeComicReadersForm(i)"
        >
          <span>Remove reader</span>
        </button>
      </div>
    </div>
  </ng-container>
</form>

<div class="">
  <button
    mat-stroked-button
    class="label-medium"
    color="primary"
    (click)="addComicReadersForm()"
  >
    <span>Add new</span>
  </button>
</div>
