<ng-container *ngFor="let comic of comics">
  <div class="item">
    <div class="media">
      <img src="{{ comic.coverUrl }}" alt="Comic cover" />
    </div>
    <div class="content">
      <div class="header">
        <span class="comic-title title-small">{{ comic.title }}</span>

        <div class="tags-group">
          <app-tag class="comic-format">{{ comic.format }}</app-tag>
          <app-tag class="comic-status">{{ comic.status }}</app-tag>
        </div>
      </div>

      <div class="body">
        <div class="comic-chapter">
          <span class="body-medium"
            >Ch. <span class="body-large">{{ comic.chapter }}</span>
          </span>
          <span class="comic-updated body-small">{{
            comic.metadata.updatedAt.toDate() | date
          }}</span>
        </div>

        <button
          mat-icon-button
          color="primary"
          aria-label="Increase comic counter by one"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="actions">
      <button
        mat-icon-button
        aria-label="Navigate to comic detail"
        (click)="emitGoToComicAction(comic.metadata.urlSegment)"
      >
        <mat-icon>read_more</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
