<app-comic-list-items
  *ngIf="comics$ | async as comics"
  [data]="comics"
  (eventBus)="onEvent($event)"
></app-comic-list-items>

<ng-container *appFooterPortal="footer"></ng-container>
<ng-template #footer>
  <div class="footer">
    <div class="tab">
      <a
        mat-button
        class="label-medium"
        [routerLink]="['add-comic']"
        aria-label="Go to add component"
      >
        <mat-icon fontSet="material-symbols-rounded">library_add</mat-icon>
        <span>Add comic</span>
      </a>
    </div>

    <div class="tab">
      <button mat-button class="label-medium" aria-label="Go to filters">
        <mat-icon fontSet="material-symbols-rounded">tune</mat-icon>
        <span>Filters</span>
      </button>
    </div>
  </div>
</ng-template>
