<span class="title-medium">Adding comic notes</span>

<app-add-edit-comic-notes-form
  *ngIf="comic$ | async as comic"
  [eventBus]="{name: eventNameSource, data: comic}"
  (eventBus)="onEvent($event)"
></app-add-edit-comic-notes-form>

<ng-container *appFooterPortal="footer"></ng-container>
<ng-template #footer>
  <div class="footer">
    <div class="actions">
      <button
        mat-button
        class="label-medium"
        color="primary"
        (click)="cancelAddComicNotes()"
        aria-label="Cancel add comic notes and go to comic detail"
      >
        <span>Cancel</span>
      </button>

      <button
        mat-flat-button
        class="add-comic-action label-medium"
        color="primary"
        [disabled]="isSubmitButtonDisabled"
        (click)="addComicNotes()"
        aria-label="Add comic notes"
      >
        <span>Add notes</span>
      </button>
    </div>
  </div>
</ng-template>
