@use "../variables" as global;

@layer importantOverrides;

mat-toolbar {
  gap: 16px;
  padding: 0 16px;
}

@layer importantOverrides {
  .mat-drawer:not(.mat-drawer-side) {
    box-shadow: none !important;
  }
}
