@use "../variables" as global;

@layer importantOverrides;

mat-toolbar {
  gap: 16px;
  padding: 0 16px;
}

.mat-mdc-button,
.mat-mdc-unelevated-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  font-weight: 600;
}

@layer importantOverrides {
  .mat-drawer:not(.mat-drawer-side) {
    box-shadow: none !important;
  }

  mat-bottom-sheet-container {
    border-radius: 8px 8px 0 0 !important;
  }

  .mat-mdc-button,
  .mat-mdc-unelevated-button,
  .mat-mdc-raised-button,
  .mat-mdc-outlined-button {
    border-radius: 8px !important;
    font-family: "Nunito Sans" !important;
  }
}
