$maicomik-primary-palette: (
  50: #f5e6ea,
  100: #e6c0cb,
  200: #d697a8,
  300: #c56d85,
  400: #b84d6a,
  500: #ac2e50,
  600: #a52949,
  700: #9b2340,
  800: #921d37,
  900: #821227,
  A100: #ffb6c1,
  A200: #ff8396,
  A400: #ff506b,
  A700: #ff3656,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$maicomik-secondary-palette: (
  50: #eeebeb,
  100: #d6ccce,
  200: #baabad,
  300: #9e898c,
  400: #8a6f74,
  500: #75565b,
  600: #6d4f53,
  700: #624549,
  800: #583c40,
  900: #452b2f,
  A100: #ff92a0,
  A200: #ff5f73,
  A400: #ff2c47,
  A700: #ff1330,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$maicomik-terciary-palette: (
  50: #efebe6,
  100: #d7cdc1,
  200: #bcac98,
  300: #a18a6f,
  400: #8d7150,
  500: #795831,
  600: #71502c,
  700: #664725,
  800: #5c3d1f,
  900: #492d13,
  A100: #ffba85,
  A200: #ff9d52,
  A400: #ff811f,
  A700: #ff7205,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$maicomik-error-palette: (
  50: #f7e4e4,
  100: #eababa,
  200: #dd8d8d,
  300: #cf5f5f,
  400: #c43c3c,
  500: #ba1a1a,
  600: #b31717,
  700: #ab1313,
  800: #a30f0f,
  900: #940808,
  A100: #ffc1c1,
  A200: #ff8e8e,
  A400: #ff5b5b,
  A700: #ff4141,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$maicomik-success-palette: (
  50: #edf7ed,
  100: #d1ebd2,
  200: #b3ddb5,
  300: #94cf97,
  400: #7dc580,
  500: #66bb6a,
  600: #5eb562,
  700: #53ac57,
  800: #49a44d,
  900: #38963c,
  A100: #e3ffe4,
  A200: #b0ffb3,
  A400: #7dff82,
  A700: #63ff6a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$maicomik-warning-palette: (
  50: #fff9e5,
  100: #ffefbf,
  200: #ffe594,
  300: #ffda69,
  400: #ffd248,
  500: #ffca28,
  600: #ffc524,
  700: #ffbd1e,
  800: #ffb718,
  900: #ffab0f,
  A100: #ffffff,
  A200: #fffcf7,
  A400: #ffe9c4,
  A700: #ffdfab,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$maicomik-info-palette: (
  50: #e5f8fb,
  100: #beeef4,
  200: #93e3ed,
  300: #67d7e5,
  400: #47cfe0,
  500: #26c6da,
  600: #22c0d6,
  700: #1cb9d0,
  800: #17b1cb,
  900: #0da4c2,
  A100: #effcff,
  A200: #bcf3ff,
  A400: #89e9ff,
  A700: #6fe5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
