@use "@angular/material" as mat;
@use "maicomik-palette" as maicomik;
@use "components-override";

@include mat.core();

$maicomik-error: mat.define-palette(maicomik.$maicomik-error-palette, 400);
$font-family-1: "Nunito Sans";
$font-family-2: "Nunito";
$font-size-base: 14px;
$line-height-base: calc($font-size-base * 1.43);
$letter-spacing-base: calc($line-height-base / 40);
$font-scale-factor: 1.15;

$maicomik-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(maicomik.$maicomik-primary-palette, 400),
      accent:
        mat.define-palette(
          maicomik.$maicomik-terciary-palette,
          A200,
          A100,
          A400
        ),
      warn: $maicomik-error,
    ),
    density: 0,
  )
);

$maicomik-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(maicomik.$maicomik-primary-palette, 200),
      accent:
        mat.define-palette(
          maicomik.$maicomik-terciary-palette,
          A200,
          A100,
          A400
        ),
      warn: $maicomik-error,
    ),
  )
);

@include mat.core-theme($maicomik-theme);
@include mat.sidenav-theme($maicomik-theme);
@include mat.list-theme($maicomik-theme);
@include mat.divider-theme($maicomik-theme);
@include mat.toolbar-theme($maicomik-theme);
@include mat.icon-button-theme($maicomik-theme);
@include mat.button-theme($maicomik-theme);
@include mat.icon-theme($maicomik-theme);

/*@media (prefers-color-scheme: dark) {
  @include mat.core-theme($maicomik-dark-theme);
}*/

.label-small
.label-medium,
.label-large,
.body-small,
.body-medium,
.body-large,
.title-small,
.title-medium,
.title-large
 {
    font-family: $font-family-1;
}

.body-small,
.body-medium,
.body-large {
    font-weight: 400;
}

.label-small
.label-medium,
.label-large,
.title-small,
.title-medium,
.title-large
 {
    font-weight: 600;
}

.label-small {
  font-size: calc($font-size-base / $font-scale-factor / $font-scale-factor);
  line-height: calc($line-height-base / $font-scale-factor / $font-scale-factor);
  letter-spacing: calc($letter-spacing-base / $font-scale-factor / $font-scale-factor);
}

.label-medium {
  font-size: calc($font-size-base / $font-scale-factor);
  line-height: calc($line-height-base / $font-scale-factor);
  letter-spacing: calc($letter-spacing-base / $font-scale-factor);
}

.label-large {
  font-size: calc($font-size-base);
  line-height: calc($line-height-base);
  letter-spacing: calc($letter-spacing-base);
}

.body-small {
  font-size: calc($font-size-base / $font-scale-factor);
  line-height: calc($line-height-base / $font-scale-factor);
  letter-spacing: calc($letter-spacing-base / $font-scale-factor);
}

.body-medium {
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
}

.body-large {
  font-size: calc($font-size-base * $font-scale-factor);
  line-height: calc($line-height-base * $font-scale-factor);
  letter-spacing: calc($letter-spacing-base * $font-scale-factor);
}

.title-small {
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
}

.title-medium {
  font-size: calc($font-size-base * $font-scale-factor * $font-scale-factor);
  line-height: calc($line-height-base * $font-scale-factor * $font-scale-factor);
  letter-spacing: calc($letter-spacing-base * $font-scale-factor * $font-scale-factor);
}

.title-large {
  font-size: calc($font-size-base * $font-scale-factor * $font-scale-factor);
  line-height: calc($line-height-base * $font-scale-factor * $font-scale-factor);
  letter-spacing: calc($letter-spacing-base * $font-scale-factor * $font-scale-factor);
}