<span class="title-medium">Editing comic</span>

<app-comic-add-edit-form
  *ngIf="comic$ | async as comic; else noComic"
  action="editComic"
  [data]="comic"
  (actionEvent)="getFormAction($event)"
></app-comic-add-edit-form>
<ng-template #noComic>
  <app-comic-add-edit-form></app-comic-add-edit-form>
</ng-template>

<ng-container *appFooterPortal="footer"></ng-container>
<ng-template #footer>
  <div class="footer" footer>
    <div class="actions">
      <button
        mat-button
        class="label-medium"
        color="primary"
        (click)="cancel()"
        aria-label="Cancel edit"
      >
        <span>Cancel</span>
      </button>

      <button
        mat-flat-button
        class="label-medium"
        color="primary"
        [disabled]="isSubmitButtonDisabled"
        (click)="editComic()"
        aria-label="Edit comic"
      >
        <span>Edit comic</span>
      </button>
    </div>
  </div>
</ng-template>
