@use "material/maicomik-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
}

.logo {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;

  color: #AC2E50;
}