<span class="title-medium">Adding comic readers</span>

<app-add-edit-comic-readers-form
*ngIf="comic$ | async as comic"
  action="addComicReaders"
  [data]="comic"
  (actionEvent)="getFormAction($event)"
></app-add-edit-comic-readers-form>

<ng-container *appFooterPortal="footer"></ng-container>
<ng-template #footer>
  <div class="footer">
    <div class="actions">
      <button
        mat-button
        class="label-medium"
        color="primary"
        (click)="cancel()"
        aria-label="Cancel add comic readers and go to comic detail"
      >
        <span>Cancel</span>
      </button>

      <button
        mat-flat-button
        class="add-comic-action label-medium"
        color="primary"
        [disabled]="isSubmitButtonDisabled"
        (click)="addComicReaders()"
        aria-label="Add comic readers"
      >
        <span>Add readers</span>
      </button>
    </div>
  </div>
</ng-template>