<mat-nav-list>
  <a
    [routerLink]="['/home/comics', comic.metadata.urlSegment, 'edit']"
    mat-list-item
    (click)="openLink()"
  >
    <span>Edit comic</span>
  </a>

  <a *ngIf="comic.readers?.length"
    [routerLink]="['/home/comics', comic.metadata.urlSegment, 'reader-sites']"
    mat-list-item
    (click)="openLink()"
  >
    <span>Edit reader sites</span>
  </a>

  <a *ngIf="comic.notes"
    [routerLink]="['/home/comics', comic.metadata.urlSegment, 'notes']"
    mat-list-item
    (click)="openLink()"
  >
    <span>Edit notes</span>
  </a>

  <mat-list-item (click)="deleteComic()">
    <span>Delete comic</span>
  </mat-list-item>
</mat-nav-list>
