<mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <span>Edit comic</span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <span>Edit reader sites</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span>Edit notes</span>
  </a>

  <a
    href="https://hangouts.google.com/"
    mat-list-item
    (click)="openLink($event)"
  >
    <span>Delete comic</span>
  </a>
</mat-nav-list>
