<form [formGroup]="comicForm">
  <div class="">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="This is a comic title"
        formControlName="title"
      />

      <mat-error class="body-small" *ngIf="titleCtrl.errors?.['required']"
        >The comic's title is required.</mat-error
      >
    </mat-form-field>
  </div>

  <div class="">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Format</mat-label>
      <mat-select placeholder="Select format" formControlName="format">
        <mat-option *ngFor="let format of formatList" [value]="format">{{
          format | titlecase
        }}</mat-option>
      </mat-select>

      <mat-error class="body-small" *ngIf="formatCtrl.errors?.['required']"
        >The comic's format is required.</mat-error
      >
    </mat-form-field>
  </div>

  <div class="">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Status</mat-label>
      <mat-select placeholder="Select status" formControlName="status">
        <mat-option *ngFor="let status of statusList" [value]="status">{{
          status | titlecase
        }}</mat-option>
      </mat-select>

      <mat-error class="body-small" *ngIf="statusCtrl.errors?.['required']"
        >The comic's status is required.</mat-error
      >
    </mat-form-field>
  </div>

  <div class="chapter">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Chapter</mat-label>
      <input matInput placeholder="0" formControlName="chapter" />

      <mat-error class="body-small" *ngIf="chapterCtrl.errors?.['required']"
        >The comic's chapter is required.</mat-error
      >

      <mat-error class="body-small" *ngIf="chapterCtrl.errors?.['pattern']"
        >Only numbers. Decimals are allowed.</mat-error
      >
    </mat-form-field>
  </div>

  <div class="">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Cover image link</mat-label>
      <input
        matInput
        placeholder="http://image-link-example"
        formControlName="coverUrl"
        (change)="setPreviewImageSrc()"
      />

      <mat-error class="body-small" *ngIf="coverUrlCtrl.errors?.['required']"
        >The comic's image link is required.</mat-error
      >

      <mat-error class="body-small" *ngIf="coverUrlCtrl.errors?.['webUrl']"
        >This is not a valid link.</mat-error
      >
    </mat-form-field>
  </div>

  <div *ngIf="previewImageSrc" class="preview-image">
    <img
      [src]="previewImageSrc"
      (error)="previewImageSrc = null"
      alt="comic preview image"
    />
  </div>
</form>
