<div class="container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      class="side-nav"
      role="navigation"
      mode="over"
      position="end"
      #sidenav
    >
      <mat-nav-list (click)="sidenav.close()" disableRipple>
        <a
          mat-list-item
          routerLink="/home/comics"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          tabindex="-1"
        >
          <span class="label-large">Home</span>
        </a>

        <a
          mat-list-item
          routerLink="/home/about"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          tabindex="-1"
        >
          <span class="label-large">About</span>
        </a>

        <mat-divider class="divider"></mat-divider>

        <a
          mat-list-item
          routerLink="/home/comics/add-comic"
          routerLinkActive="active-link"
          tabindex="-1"
        >
          <span class="label-large">My Account</span>
        </a>

        <a mat-list-item tabindex="-1" (click)="logOut()">
          <mat-icon fontSet="material-symbols-rounded" matListItemIcon>logout</mat-icon>
          <span class="label-large">Log Out</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content role="main">
      <mat-toolbar #toolbar>
        <div class="fake-icon-button-space"></div>
        <span class="logo">Mai<span style="color: #75565b">comiK</span></span>
        <button
          mat-icon-button
          aria-label="Open side menu"
          (click)="sidenav.open()"
        >
          <mat-icon fontSet="material-symbols-rounded">menu</mat-icon>
        </button>
      </mat-toolbar>

      <div class="content">
        <ng-content></ng-content>
      </div>

      <div class="footer">
        <ng-content select="[footer]"></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
