.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1 0 auto;
}

mat-nav-list {
  padding-top: 16px;
}

.side-nav {
  position: fixed;
  width: 50%;
  overflow: hidden;

  border-radius: 12px 0 0 12px;
}

.divider {
  margin: 8px 16px;
}

.mdc-list-item {
  width: auto;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 8px;
}

.active-link {
  background: #ffd9de;
  border-radius: 8px;

  span {
    color: black;
  }
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-right: 8px;
  color: #524345;
  font-size: 20px;
}

/* Fix item icon alignment */
.mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__start {
  margin-top: 4px;
}

.mdc-list-item--with-one-line.mdc-list-item--with-leading-avatar,
.mdc-list-item--with-one-line.mdc-list-item--with-leading-icon,
.mdc-list-item--with-one-line.mdc-list-item--with-leading-thumbnail,
.mdc-list-item--with-one-line.mdc-list-item--with-leading-checkbox,
.mdc-list-item--with-one-line.mdc-list-item--with-leading-radio,
.mdc-list-item--with-one-line.mdc-list-item--with-leading-switch {
  height: 48px;
  border-radius: 8px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: space-between;
}

.fake-icon-button-space {
  width: 48px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  box-sizing: border-box;
  width: 100%;
  padding: 80px 16px 48px;
}

mat-toolbar,
.footer {
  position: fixed;
  z-index: 2;
}

mat-toolbar {
  background-color: #fafafa;

  .mat-mdc-icon-button {
    color: #524345;
  }
}

.sticky {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  flex-direction: row;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 0 16px;

  background-color: #fff;
  border-top: solid #eeeeee 1px;
}
