:host {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;

  .primary-color {
    color: #ac2e50;
  }

  .secondary-color {
    color: #75565b;
  }
}
