<span class="title-medium">Editing comic</span>

<app-add-edit-comic-form
  *ngIf="comic$ | async as comic; else noComic"
  [data]="comic"
  [eventBus]="sourceEventName"
  (eventBus)="onEventBus($event)"
></app-add-edit-comic-form>
<ng-template #noComic>
  <app-add-edit-comic-form></app-add-edit-comic-form>
</ng-template>

<ng-container *appFooterPortal="footer"></ng-container>
<ng-template #footer>
  <div class="footer" footer>
    <div class="actions">
      <button
        mat-button
        class="label-medium"
        color="primary"
        (click)="cancelEditComic()"
        aria-label="Cancel edit"
      >
        <span>Cancel</span>
      </button>

      <button
        mat-flat-button
        class="label-medium"
        color="primary"
        [disabled]="isSubmitButtonDisabled"
        (click)="editComic()"
        aria-label="Edit comic"
      >
        <span>Edit comic</span>
      </button>
    </div>
  </div>
</ng-template>
